<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" [routerLink]="['/welcome']">
        <img src="./assets/logo.jpg" alt="logo" style="width:80px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/welcome']">Strona startowa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">Lista produktów</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" *ngIf="!isLogged()" [routerLink]="['/login']">Logowanie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn" *ngIf="isLogged()" (click)="logout()">Wyloguj</a>
        </li>
    </ul>
  </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>


