<div class='panel-primary'>
    <hr>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text'
                       [(ngModel)]="listFilter"/>
            </div>
            <div class='ml-auto'>
                <input class="btn btn-primary" type="button" value="Dodaj produkt"/>
            </div>
        </div>
        <hr>
        <div class='table-responsive'>
            <table class='table'
                   *ngIf='products && products.length'>
                <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Star Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let product of filteredProducts'>
                    <td>
                        <img [src]="product.imageUrl"
                             [title]="product.productName"
                             [style.width.px]= 80
                             [style.margin.px]= 2>
                    </td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate }}</td>
                    <td>{{ product.price | currency:'PLN':true:'1.2-2' }}</td>
                    <td>{{ product.starRating }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
