<div class='panel-primary'>
    <hr>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text'
                       [(ngModel)]="listFilter"/>
            </div>
            <div class='ml-auto'>
                <button class="btn btn-primary">Dodaj Produkt</button>
            </div>
        </div>
        <hr>
        <div class='table-responsive'>
            <table class='table'
                   *ngIf='products && products.length'>
                <thead class="thead-dark">
                <tr class="text-center">
                    <th>Zdjęcie</th>
                    <th>Nazwa produktu</th>
                    <th>Kod</th>
                    <th>Wstawiono</th>
                    <th>Cena</th>
                    <th>Opinia klientów</th>
                    <th>Dostępne funkcje</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngFor='let product of filteredProducts'>
                    <td>
                        <a [routerLink]="['/products', product.productId]">
                            <img [src]="product.imageUrl"
                                 [title]="product.productName"
                                 [style.width.px]= 80
                                 [style.margin.px]= 2>
                        </a>
                    </td>
                    <td><a [routerLink]="['/products', product.productId]" >
                        {{ product.productName }}</a></td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate }}</td>
                    <td>{{ product.price | currency:'PLN':true:'1.2-2' }}</td>
                    <td>{{ product.starRating }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-primary">Zamów</button>
                            <button type="button" class="btn btn-warning">Modyfikuj</button>
                            <button type="button" class="btn btn-danger">Usuń</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
