<div class="container">
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <img class="img-fluid" src="{{product.imageUrl}}" alt="item image" style="width: 300px">
            <h4 class="card-title">{{product.productName}}</h4>
            <p class="card-text">{{product.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>KodProduktu: </b>{{product.productCode}}</li>
            <li class="list-group-item"><b>Data Wprowadzenia: </b>{{product.releaseDate}}</li>
            <li class="list-group-item"><b>Cena: </b>{{product.price | currency:'PLN':true:'1.2-2'}}</li>
            <li class="list-group-item"><b>Opinia: </b>{{product.starRating}}</li>
        </ul>
        <div class="card-body">
            <button class="btn btn-primary" (click)="onBack()">Powrót</button>
            <button class="btn btn-primary" >Zakup Produkt</button>
        </div>
    </div>
</div>
