<br>
<div class="form-group row">
    <label for="product-create-name" class="col-2 col-form-label">Nazwa Produktu</label>
    <div class="col-10">
        <input class="form-control" type="text" value="" id="product-create-name">
    </div>
</div>
<div class="form-group row">
    <label for="product-create-code" class="col-2 col-form-label">Kod produktu</label>
    <div class="col-10">
        <input class="form-control" type="text" value="" id="product-create-code">
    </div>
</div>
<div class="form-group row">
    <label for="product-create-imageURL" class="col-2 col-form-label">URL zdjęcia</label>
    <div class="col-10">
        <input class="form-control" type="url" value="" id="product-create-imageURL">
    </div>
</div>
<div class="form-group row">
    <label for="product-create-date" class="col-2 col-form-label">Data wstawienia</label>
    <div class="col-10">
        <input class="form-control" type="date" value="" id="product-create-date">
    </div>
</div>
<div class="form-group row">
    <label for="product-create-price" class="col-2 col-form-label">Cena produktu</label>
    <div class="col-10">
        <input class="form-control" type="text" value="" id="product-create-price">
    </div>
</div>
<div class="form-group row">
    <label for="product-create-starRating" class="col-2 col-form-label">Opinia</label>
    <div class="col-10">
        <input class="form-control" type="text" value="" id="product-create-starRating">
    </div>
</div>
<div class="form-group row">
    <label for="product-create-description" class="col-2 col-form-label">Opis</label>
    <div class="col-10">
        <textarea class="form-control" type="text" value="" rows="5" id="product-create-description"></textarea>
    </div>
</div>
<div>
    <br>
    <button class="btn btn-primary" (click)="onBack()">Powrót</button>
    <button class="btn btn-primary" >Utwórz produkt</button>
</div>
