<div class="jumbotron">
    <div class="container text-center">
        <h1>Online Shop</h1>
        <p>U nas wszystko kupisz w najniższych cenach.</p>
    </div>
</div>

<div class="container">
    <h4>Rekomendowane przez naszych ekspertów <span class="badge badge-info">POLECANE</span> </h4>
</div><hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" [routerLink]="['/products']" src="https://placehold.it/150x80?text=IMAGE" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Artkuł 1</h4>
                    <p class="card-text">Opis tam jakiś</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" [routerLink]="['/products']" src="https://placehold.it/150x80?text=IMAGE" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Paweł Pietrasz</h4>
                    <p class="card-text">Daj mu klawiature, a zrobi ci co chesz ;) Dołączamy z instrukcja obsługi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" [routerLink]="['/products']" src="https://placehold.it/150x80?text=IMAGE" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Artkuł 1</h4>
                    <p class="card-text">Opis tam jakiś</p>
                </div>
            </div>
        </div>
    </div>
</div><br><hr>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" [routerLink]="['/products']" src="https://placehold.it/150x80?text=IMAGE" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Artkuł 1</h4>
                    <p class="card-text">Opis tam jakiś</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" [routerLink]="['/products']" src="https://placehold.it/150x80?text=IMAGE" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Artkuł 1</h4>
                    <p class="card-text">Opis tam jakiś</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" [routerLink]="['/products']" src="https://placehold.it/150x80?text=IMAGE" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Artkuł 1</h4>
                    <p class="card-text">Opis tam jakiś</p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>